{% extends 'base.html' %}

{% block content %}
<center>
   <h1>DATA UPLOAD PERSYARATAN</h1>   
</center><br>

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <a href="{% url 'upload' %}" class="btn btn-success"><i class="fa fa-plus"></i> Tambah Data</a><br><br>
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>NAMA MAHASISWA</th>
                  <th>JUDUL TA</th>
                  <th>ACC UJIAN SIDANG</th>
                  <th>BEBAS TEORI</th>
                  <th>KRS</th>
                  <th>CEK PLAGIASI</th>
                  <th>SOFT FILE</th>
                  <th>SK DITERIMA</th>
                  <th>SK SELESAI</th>
                  <th>LEMBAR PENILAIAN</th>
                  <th>KEPEMILIKAN USAHA</th>
                  <th>MoU/SPK</th>
                  <th>IJAZAH TERAKHIR</th>
                  <th>AKTE KELAHIRAN</th>
                  <th>KTP/KK</th>
                  <th>FOTO</th>
                  <th>ACTION</th>
               </tr>
            </thead>
            <tbody>
               {% for tugasakhir in ta %}
                  <tr>
                     <td>{{ tugasakhir.mahasiswa_id }}</td>
                     <td>{{ tugasakhir.judul }}</td>
                     <td>
                        {% if tugasakhir.acc_ujian %}
                           <img src="{{ tugasakhir.acc_ujian.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.bebas_teori %}
                           <img src="{{ tugasakhir.bebas_teori.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.krs %}
                           <img src="{{ tugasakhir.krs.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.cek_plagiasi %}
                           <img src="{{ tugasakhir.cek_plagiasi.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.file_tugas_akhir %}
                           <img src="{{ tugasakhir.file_tugas_akhir.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.sk_diterima %}
                           <img src="{{ tugasakhir.sk_diterima.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.sk_selesai %}
                           <img src="{{ tugasakhir.sk_selesai.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.lembar_penilaian %}
                           <img src="{{ tugasakhir.lembar_penilaian.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.kepemilikan_usaha %}
                           <img src="{{ tugasakhir.kepemilikan_usaha.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.bukti_mou_spk %}
                           <img src="{{ tugasakhir.bukti_mou_spk.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.ijazah_terakhir %}
                           <img src="{{ tugasakhir.ijazah_terakhir.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.akte_kelahiran %}
                           <img src="{{ tugasakhir.akte_kelahiran.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.ktp_kk %}
                           <img src="{{ tugasakhir.ktp_kk.url }}" width="90">
                        {% endif %}
                     </td>
                     <td>
                        {% if tugasakhir.foto %}
                           <img src="{{ tugasakhir.foto.url }}" width="90">
                        {% endif %}
                     </td>
                     <td style="text-align:center;">
                        <a href="{% url 'ubah_tugasakhir' tugasakhir.id %}" class="btn btn-primary"><i class="fa fa-pen-to-square"></i></a>
                        <button data-bs-toggle="modal" data-bs-target="#hapus-{{ tugasakhir.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                     </td>

                     <div class="modal" id="hapus-{{ tugasakhir.id }}">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <div class="modal-title">
                                    <h3>Hapus</h3>
                                 </div>
                              </div>
                              <div class="modal-body">
                                 Apakah anda yakin ingin menghapus data,&nbsp;<strong>{{ tugasakhir.mahasiswa_id | upper }}</strong>?
                              </div>
                              <div class="modal-footer">
                                 <a href="{% url 'hapus_tugasakhir' tugasakhir.id %}" class="btn btn-danger"><i class="fa fa-check"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
 
{% endblock %}