{% extends 'base.html' %}

{% block content %}
<center>
   <h1>DATA MAHASISWA</h1>   
</center><br>

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <a href="{% url 'tambah_buku' %}" class="btn btn-success"><i class="fa fa-plus"></i> Tambah Mahasiswa</a><br><br>
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th>NIM</th>
                  <th>NAMA</th>
                  <th>JURUSAN</th>
                  <th>TAHUN</th>
                  <th>ACTION</th>
               </tr>
            </thead>
            <tbody>
               {% for mahasiswa in mhs %}
                  <tr>
                     <td>{{ mahasiswa.nim }}</td>
                     <td>{{ mahasiswa.nama }}</td>
                     <td>{{ mahasiswa.jurusan }}</td>
                     <td>{{ mahasiswa.tahun }}</td>
                     <td style="text-align:center;">
                        <a href="{% url 'ubah_mahasiswa' mahasiswa.id %}" class="btn btn-primary"><i class="fa fa-pen-to-square"></i></a>
                        <button data-toggle="modal" data-target="#hapus-{{ mahasiswa.id }}" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                     </td>

                     <div class="modal" id="hapus-{{ mahasiswa.id }}">
                        <div class="modal-dialog">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <div class="modal-title">
                                    <h3>Hapus</h3>
                                 </div>
                              </div>
                              <div class="modal-footer">
                                 Apakah anda yakin ingin menghapus data,&nbsp;<strong>{{ mahasiswa.nama | upper }}</strong>?
                              </div>
                              <div class="modal-footer">
                                 <a href="{% url 'hapus_mahasiswa' mahasiswa.id %}" class="btn btn-danger"><i class="fa fa-check"></i></a>
                                 <button data-dismiss="modal" class="btn btn-dark"><i class="fa fa-xmark"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
 
{% endblock %}