{% extends 'base.html' %}

{% block content %}
<center>
  <h1>Upload syarat-syarat Pendaftaran Ujian Sidang Tugas Akhir</h1>
</center>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if message %}
      <div class="alert alert-success">{{ message }}</div>
      {% endif %}
      <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}

        <br><button class="btn btn-primary"><i class="fa fa-floppy-disk"></i></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}